body {
    display: flex;
    flex-direction: column;
    background: lightblue;
    
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    border: 1px solid blue;
    padding: 4px;
}
aside {
    flex: 1;
    overflow-y: auto;
}